<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQAVXOzHCuTpIH6fvjPqoriMj-ThkIheo</string>
	<key>GCM_SENDER_ID</key>
	<string>240095002638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.classification.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>store-media-9b9bd</string>
	<key>STORAGE_BUCKET</key>
	<string>store-media-9b9bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240095002638:ios:777a99bb2b4f9b66317c5f</string>
</dict>
</plist>